# Ignore l'environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Fichiers de logs ou temporaires
*.log
*.tmp
*.swp

# Fichiers système (macOS)
.DS_Store

# Éventuels fichiers secrets ou env
.env
